doctype html
block vars
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title}
    meta(name='description', content=description)
    meta(property='og:title', content=title)
    meta(property='og:type', content='website')
    meta(property='og:url', content=page.url)
    meta(property='og:image', content=site.url + 'img/featured.png')
    link(rel='canonical', href=page.url)
    link(href='/styles/main.css', rel='stylesheet')
    style
      include ./../_includes/_icons.css
    block styles
    link(rel='icon', href=site.url + 'img/kunruch-logo-32x32.png', sizes='32x32')
    link(rel='icon', href=site.url + 'img/kunruch-logo-192x192.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href=site.url + 'img/kunruch-logo-180x180.png')
    meta(name='msapplication-TileImage', content=site.url + 'img/kunruch-logo-270x270.png')
  body#top
    include ./../_includes/_icons.svg
    header.header
        .container
            .header-left
              a(href='https://kunruchcreations.com/').site-branding
                div(style="width:36px;height:36px;margin:8px 8px 8px 0;float:left")
                  include ./../_includes/_kunruch.svg
                h1.title KunRuch Creations
            div.text-large.hidden-mobile Status
            div.header-right.hidden-mobile
              a.button.button-text(href=site.github, target="_blank")
               | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
               span GitHub
              a.button.button-text(href=site.twitter target="_blank")
               | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
               span Twitter

    block content
    footer.footer
      .container-content.section-large.text-center
        p Built with <a href="https://mmpilot.kunruchcreations.com/" target="_blank">mmpilot</a> by <a href="http://kunruchcreations.com/">KunRuch Creations</a>.
        p Powered by
        a(href="https://uptimerobot.com/", target="_blank")
          img(src="/img/uptime-robot.png")
  block scripts
  include ./../_includes/_analytics.pug
